.welcome {
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal ;
    -fx-font-weight: 700;
    -fx-font-size: 36px;
    -fx-text-fill: #232855;
}

.greet {
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal ;
    -fx-font-weight: 400;
    -fx-font-size: 22px;
    -fx-text-fill: #232855;
}

