.welcome {
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal ;
    -fx-font-weight: 700;
    -fx-font-size: 36px;
    -fx-text-fill: #232855;
}

.greet {
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal ;
    -fx-font-weight: 400;
    -fx-font-size: 22px;
    -fx-text-fill: #232855;
}

.loginLB{
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal ;
    -fx-font-weight: 700;
    -fx-font-size: 28px;
    -fx-text-fill:  #215B63;
}

.loginTF{
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: #215B63;
    -fx-border-color: #215B63;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal ;
    -fx-font-weight: 380;
    -fx-font-size: 28px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 10px 10px;
    -fx-pref-width: 200;
}

.scene1{
    -fx-background-color:  #FFFFFF;
}

.logBut{
    -fx-background-color: #215B63;
    -fx-text-fill: #ffff;
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal ;
    -fx-font-weight: 700;
    -fx-font-size: 28px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-padding: 20 100;
    -fx-pref-width: 500;
}
.logBut:hover{
    -fx-background-color: #ffff;
    -fx-text-fill: #215B63;
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal ;
    -fx-font-weight: 700;
    -fx-font-size: 28px;
    -fx-border-color: #215B63;
    -fx-border-style: solid;
    -fx-border-width: 4px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-padding: 20 100;
    -fx-pref-width: 500;
}

.regisbut{
    -fx-background-color: #ffff;
    -fx-text-fill: #215B63;
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal ;
    -fx-font-weight: 700;
    -fx-font-size: 28px;
    -fx-border-color: #215B63;
    -fx-border-style: solid;
    -fx-border-width: 4px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-padding: 20 100;
    -fx-pref-width: 500;
}
.regisbut:hover{
    -fx-background-color: #215B63;
    -fx-text-fill: #ffff;
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal ;
    -fx-font-weight: 700;
    -fx-font-size: 28px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-padding: 20 100;
    -fx-pref-width: 500;
}

.rgisLB{
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal ;
    -fx-font-weight: 400;
    -fx-font-size: 22px;
    -fx-text-fill: #215B63;
}



